<div class="sectionTitle">NLP Documents<div id="nlp_document_list_count" class="sectionTitleCount"></div></div>
<div id="nlp_document_list_grid" class="sectionPanel"></div>



<div class="row">
           <div id="review-document" class="span12" >

              <div class="col-xs-12">
                  <div style="position: relative;" id="doc-left" class="document_block">
                      <div style="display:none;" id="doc-view-hdr">
                          <div id="review-doc-full-screen">
                              <a id="demog-expand-doc" title="view full screen" class="link exp-doc-link" href="#">details</a>
                          </div>
                      </div>
                      <div class="pagination">
                          <ul></ul>
                      </div>
                      <div id="doc-view" data-toggle="context" data-target="#context-menu"></div>
                 </div>
                 
                   <div style="display:none;"  id="doc-right" class="concept_block">
                      <div id="concept-header">Concepts</div>
                      <div id="concepts-lists">
                          <ul id="list-hrec" class="concept-list unstyled">
                          </ul>
                      </div>
                      
                      
                  </div>
              </div>

        </div>
            
</div>






