


<div id="login_page">
    <div class="page-title">Please login</div>
    <div class="page-body">

        <table class="edit-table">
            <tr>
                <th>Login ID</th>
                <td><input type="text" id="user_login_id" /></td>
            </tr>
            <tr>
                <th>Password</th>
                <td><input type="password" id="user_password" /></td>
            </tr>
        </table>

        <button class="btn btn-success wide-button" id="login_button">LOGIN</button>
    </div>
</div>