

<div class="sectionTitle">Encounters <div id="encounter_panel_count" class="sectionTitleCount"></div></div>
<div id="encounter_panel_grid" class="sectionPanel"></div>


<div id="encounter_panel_edit_dialog" style="display:none; width:200px">

    <div id="encounterCheckBox"> </div>
    <div class="form-group col-sm-6" style="width:250px">
        <label>Comment</label>
        <input type="text" class="form-control" id="definedAttribComment">
    </div>

    <div class="row">
        <div class="form-group col-sm-2" style="width:100px">
            <button class="btn btn-success center-block" id="encounterSaveButton" data-popmodal-but="ok">Save</button>
        </div>
        <div class="form-group col-sm-2" style="width:100px">
            <button class="btn btn-success center-block" id="encounterSaveCancel" data-popmodal-but="cancel">Cancel</button>

        </div>
    </div>
</div>