


#registry_selection_table td.btn-column {
    padding-right: 15px;
}
#registry_selection_table td.registry-name-column {
    font-weight: 700;
    padding-right: 30px;
}
#registry_selection_table td.role-name-column {
    
}