


<div id="encounterAttribute_config_dialog" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close close-icon" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add Encounter Attribute</h2>
            </div>

            <div class="modal-body">

                <table class="enc-data-table" align="center">
                    <tr>
                        <th><b>Name</b></th>
                        <td><input type="text" id="configEncounter_attributes_add_registry_name" class="configEncounter_attributes_add_registry_name" size="20" maxlength="50" /></td>
                    </tr>
                    <tr>
                        <th><b>Definition</b></th>
                        <td><textarea id="configEncounter_attributes_add_registry_def" class="configEncounter_attributes_add_registry_def"></textarea></td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-xs btn-success encounterAttrib-save-button">Add</button>
                <button type="button" class="btn btn-xs btn-warning cancel-button encounterAttrib-cancel-button" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>



