


<div id="basic_search_page" class="page-container">

      

    <!-- <button class="btn btn-success search-button">SEARCH</button>
    <button class="btn btn-warning clear-button">CLEAR</button>  -->

    <br/><br/>

    <!-- TODO: consider hiding this until search results are processed -->
    <div id="search_results_container" style="display: none;">
        <hr class="search_results_divider" />
        <div class="sectionTitle ">Search results <div id="search_results_panel_count" class="sectionTitleCount"></div></div>
        <div id="search_results_panel_grid" class="sectionPanel"></div>
        <input style='margin-top: 10px;' type="button" class="btn btn-success search-button" value="Export to Excel" id='excelExport' />
    </div>

</div>
