
<div id="patient_summary_page">

    <!-- The patient demographics -->
    <div id="demographics_panel" class="col-sm-10"></div>

    <div class="row">

        <!-- Patient attributes panel -->
        <div id="patient_attributes_panel" class="col-sm-6"></div>

        <!-- Diagnosis and DRG panel -->
        <div id="diagnosis_panel" class="col-sm-6"></div>
    </div>

    <!-- Encounters panel -->
    <div id="encounters_panel"></div>

    <!-- NLP Documents panel -->
    <div id="nlp_document_panel"></div>
</div>