

#patient_full_name {
    font-size: 20pt;
    font-weight: 700;
}


/*
    color: #333333;
    font-size: 13pt;
*/

.mrn-row {
    font-size: 14pt;
    margin-top: -5px;
}
.mrn-row .row-label {

}
#mrn_values {

}


.race-gender-age-row {

}
#patient_race {
    margin-right: 5px;
}
#patient_gender {
    display: inline-table;
}

#patient_age {
    display: inline-table;
    margin-left: 5px;
}


.dob-row {

}
.dob-row .row-label {

}
#dob_value {

}

.phone-row {

}
.phone-row .row-label {

} 
#patient_phone {

}


.ssn-row {

}
.ssn-row .row-label {

} 
#ssn_value {

}

.address-row {

}
.address-row .row-label {

}
#patient_address {

}





.status-panels {
    margin-top: 15px;
}


.status-latest, .status-latest * {
    vertical-align: middle;
}
.status-latest .status-label {
    color: #444;
    font-size: 13pt;
    display: inline-table;
}
.status-latest .status-value {
    display: inline-table;
    font-size: 14pt;
    font-weight: 700;
    margin-right: 10px;
}
.status-latest .status-value * {
    display: inline-table;
    font-size: 14pt;
    font-weight: 700;
}
.status-latest .fake-link {
    display: inline-table;
}
.status-latest button {
    display: inline-table;
    width: 80px;
}
#registry_status_info {
    display: inline-table;
}



.status-details {
  margin: 0 0 30px 0; 
  width: 1000px; 
}
.status-details * {
    color: #444;
    font-size: 9.5pt;
    vertical-align: top;
}
.status-details .status-person {
    display: inline-table;
}
.status-details .status-date {
    display: inline-table;
}
.status-details .status-comment {
    display: inline-block;
    font-style: italic;
}

