


<div id="add_new_registry">
    <div class="page-title">Add New Registry</div>
    
      <table class="table table-striped">
          
              <tr>
                  <th>Registry Name </th>
                  <td><input type="text" value="Registry" class="section-control" id="registry_name" size="20" maxlength="50" /></td>               
              </tr>
              <tr>
                  <th>Registry Definition </th>
                  <td><textarea rows="5" cols="50" maxlength="2000" id="registry_definition"></textarea> </td>
              </tr>
      </table>

    <div class="page-title"><button type="button" class="btn btn-success btn-sm add-registry-button">ADD Registry</button></div>

</div>




