


<div id="attribute_config_dialog" class="modal fade" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close close-icon" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add Attribute Configuration</h2>
            </div>

            <div class="modal-body">

                <table class="enc-data-table" align="center">
                    <tr>
                        <th><b>CV</b></th>
                        <td> <select id="attribConfigCVList" class="attribConfigCVList"></select></td>
                    </tr>
                    <tr>
                        <th><b>Value</b></th>
                        <td><input type="text" class="form-control" id="attribConfigValue"></td>
                    </tr>
                    <tr>
                        <th><b>Name</b></th>
                        <td><input type="text" class="form-control" id="attribConfigName"></td>
                        <td> <button type="button" class="btn btn-xs btn-success external-search-button">Search</button></td>
                        <!--<td><a class="attribConfigNameSearch" href=""><img src="/images/show_diag.png" border="0" alt="search" /></a></td>-->
                    </tr>
                    <tr>
                        <th><b>Attributes</b></th>
                        <td> <select id="attribConfigAttributesList" class="attribConfigAttributesList"></select></td>
                    </tr>
                </table>

            </div>

            <div class="modal-footer">

                <button type="button" class="btn btn-xs btn-success external-save-button">SAVE</button>
                <button type="button" class="btn btn-xs btn-warning cancel-button external-cancel-button" data-dismiss="modal">CANCEL</button>
            </div>
        </div>
    </div>
</div>



